{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jowc</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'home' %}">Jowc</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <!--<li class="nav-item" role="presentation"><a class="nav-link active" href="projects-grid-cards.html">Projects</a></li>-->
                    <!--<li class="nav-item" role="presentation"><a class="nav-link" href="cv.html">CV</a></li>-->
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'allBlogs'%}">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projects-page">
            <section class="portfolio-block block-intro">
                    <div class="container">
                        <img class="avatar" src="{% static '/assets/img/avatars/avatar.jpg' %}">
                        <div class="about-me">
                            <p>Hello! I am <strong>Joseph O WCharles</strong>. I work as interface and website developer. I have passion for pixel perfect, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a></div>
                    </div>
                </section>
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img src="{{job.image.url}}" alt="Card Image" class="card-img-top scale-on-hover" height="300"></a>
                            <div class="card-body">
                                <h6><a href="#">{{job.title}}</a></h6>
                                <p class="text-muted card-text">{{job.summary}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center content">
                        <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button></div>
                </div>
            </section>
            <section class="portfolio-block skills">
                    <div class="container">
                        <div class="heading">
                            <h2>Special Skills</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                                    <div class="card-body">
                                        <h3 class="card-title">Web Design</h3>
                                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                                    <div class="card-body">
                                        <h3 class="card-title">Interface Design</h3>
                                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                                    <div class="card-body">
                                        <h3 class="card-title">Web Development</h3>
                                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
        <p> Joseph O WCharles &copy; {% now 'Y' %}</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>